@media only screen and (max-width: 600px){
    .galeriaTop{
        display: flex;   
        flex-wrap: wrap;    
        align-items: center;
        font-family: Arial, Helvetica, sans-serif; 
    }
    .itemTop{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 125px;
        img{
            width: 200px;
            height: 200px;
            position: relative;
            left:-45px;
            bottom: -4px;

        }
        h1{
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.432);
            color: transparent;
            margin:10px 0px;
        }
    }
    .top4,.top5,.topBig{
        display:none;
     }


}

@media only screen and (min-width: 601px){
    .galeriaTop{
        display: flex;   
        flex-wrap: wrap;    
        align-items: center;
        font-family: Arial, Helvetica, sans-serif; 
    }
    .itemTop{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 135px;
        img{
            width: 200px;
            height: 200px;
            position: relative;
            left:-40px;
            bottom: -4px;

        }
        h1{
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.432);
            color: transparent;
            margin:20px 0px;
        }
    }
    .topSmall{
        display: none;
    }

}
