<h1 class="topBig">TOP 5</h1>
<h1 class="topSmall">TOP 3</h1>
<div class="galeriaTop">
    <div *ngFor="let item of films['film'], let i = index">
        <div class="top{{i + 1}} itemTop">
            <h1>{{i + 1}}<img src="{{item.src}}" alt="{{item.title}}"></h1>
        </div>
    </div>
</div>
