.galleryFilms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 703px) {
  .galleryFilms {
    display: flex;
    margin: 3.5%;
    width: 100%;
  }
}
.galleryItem {
  margin: 2px;
}/*# sourceMappingURL=films.component.css.map */