<h3>{{films['section']}}</h3>
<div class="galleryFilms" media="(max-width: 704px)">
<div *ngFor="let item of films['film']" class="galleryItem">
    <img src="{{item.src}}" alt="{{item.title}}">
</div>
</div>

