.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* img{
       width: 50px;
       height: 50px;
   }*/
}
.navBar div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
}
.navBar div h6 {
  margin-left: 5px;
  margin-right: 5px;
}

.logoGrande {
  width: 200px;
}

.logoCorto {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .logoGrande {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  .logoCorto {
    display: none;
  }
}/*# sourceMappingURL=nav.component.css.map */