.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 10px;
        h6{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
   /* img{
        width: 50px;
        height: 50px;
    }*/
}
.logoGrande{
    width:200px;
}
.logoCorto{
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 600px){ //some value
    .logoGrande{
      display: none;
    }
}
@media only screen and (min-width: 601px){ //some value
    .logoCorto{
      display: none;
    }
}