<div class="navBar">
<img src="../../../assets/images/LOGO/logo_netflix_corto.jpg" alt="Logo netlix" class="logoCorto">
<img src="../../../assets/images/LOGO/logo.png" alt="logo netlix" class="logoGrande">
<div>
    <h6>INICIO</h6>
    <h6>BUSCAR</h6>
</div>
</div>